.refresh-section {
  padding: 1rem;
  font-family: Arial, sans-serif;
}

.folder {
  font-weight: bold;
  margin-top: 0.5rem;
}

.subfolder {
  margin-left: 1.5rem;
  margin-top: 0.3rem;
}

.file {
  margin-left: 2rem;
}

.del_btns{
    margin-left: 40px;
    height: 50px;
    width: 210px;
    background-color: #3f3f3f;
    color: white;
    font-size: larger;
    border: none;
    border-radius: 5px;
}
.del_btns:hover{
    color: #68cca2;
    cursor: pointer;
}
