.btns{
    margin-left: 40px;
    height: 50px;
    width: 210px;
    background-color: #3f3f3f;
    color: white;
    font-size: larger;
    border: none;
    border-radius: 5px;
}
.btns:hover{
    color: #68cca2;
    cursor: pointer;
}

.btn_with_arrow {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.arrow_mark {
  color: green;
  font-size: 5.0rem;
  position: absolute;
  left: 120%;
  top: 40%;
  transform: translateY(-50%);
}

/* Optional: Active button style */
.btns-active {
  background-color: #444;
  color: white;
}
