body{
  margin: 0px;
}
.heading{
  text-align: center;
  height: 100px;
  width: auto;
  background-color: #840227;
  color: aliceblue;
}
.heading_style{
  margin: 0px;
  font-size: 80px;
}
.Btns_container {
  margin-top: 20px;
  justify-content: center;
  display: flex;
  gap: 50px; /* Space between buttons */
}